@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  /*https://uicolors.app/generate/2259f7*/

  /* Primary : Green (Go!) */
  --color-amulet-50: #f2f7f2;
  --color-amulet-100: #e2eae1;
  --color-amulet-200: #c4d6c5;
  --color-amulet-300: #9cb99f;
  --color-amulet-400: #7a9e7e;
  --color-amulet-500: #507956; /* primary */
  --color-amulet-600: #3c5f42;
  --color-amulet-700: #304c35;
  --color-amulet-800: #283d2c;
  --color-amulet-900: #213325;
  --color-amulet-950: #121c15;

  /* Secondary : Orange (Action!) */
  --color-ember-50: #fff3e0;
  --color-ember-100: #ffe0b2;
  --color-ember-200: #ffcc80;
  --color-ember-300: #ffb74d;
  --color-ember-400: #ffa726;
  --color-ember-500: #ff8a3d; /* secondary */
  --color-ember-600: #fb7c2d;
  --color-ember-700: #f36c1e;
  --color-ember-800: #ea5d10;
  --color-ember-900: #d84300;

  /* Neutral : Bright background */
  --color-breeze-50: #ffffff;
  --color-breeze-100: #f9faf9; /* neutral */
  --color-breeze-200: #f1f4f1;
  --color-breeze-300: #e3e8e4;
  --color-breeze-400: #cfd8d3;
  --color-breeze-500: #b0bab4;
  --color-breeze-600: #8e9c95;
  --color-breeze-700: #6f7e77;
  --color-breeze-800: #4f5e57;
  --color-breeze-900: #2f3e38;
}
